#layout_noise-layer__elUIx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/noise.png);
    pointer-events: none;
    z-index: 10;
    opacity: .5
}

#layout_site-container___jKFI {
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 480px auto
}

@media(max-width: 1199px) {
    #layout_site-container___jKFI {
        grid-template-columns:400px auto
    }
}

@media(max-width: 1084px) {
    #layout_site-container___jKFI {
        grid-template-columns:300px auto
    }
}

@media(max-width: 699px) {
    #layout_site-container___jKFI {
        height:auto;
        width: auto;
        grid-template-columns: auto
    }
}

@media(min-width: 1651px) {
    #layout_site-container___jKFI {
        grid-template-columns:28% auto
    }
}

#layout_site-container___jKFI #layout_sidebar__AdR1X {
    padding: 3rem;
    transition: .8s;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--font-courier-prime)
}

@media(max-width: 1199px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X {
        padding:2rem
    }
}

@media(max-width: 699px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X {
        display:none
    }
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-logo__VT39u {
    width: 100%;
    aspect-ratio: 1274/374;
    max-width: 320px
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-logo__VT39u img,#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-logo__VT39u svg {
    width: 100%;
    height: 100%;
    object-fit: contain
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-logo__VT39u img path,#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-logo__VT39u svg path {
    transition: .8s
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: 4rem;
    font-size: 26px;
    font-size: 1.7rem;
    max-width: 320px
}

@media(min-width: 1651px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P {
        font-size:1.8rem
    }
}

@media(min-width: 1951px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P {
        font-size:2rem
    }
}

@media(min-width: 2201px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P {
        font-size:2.2rem
    }
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P a {
    text-decoration: none;
    padding-top: .3rem;
    transition: .6s;
    font-weight: 700
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P a.layout_active-link__vr_VQ,#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_sidebar-nav__Ezr7P a:hover {
    padding-left: .5rem;
    color: #000!important;
    background-color: #fff
}

#layout_site-container___jKFI #layout_sidebar__AdR1X #layout_copyright__QkPWd {
    margin-top: auto;
    font-size: 1rem
}

@media(max-width: 1199px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_copyright__QkPWd {
        grid-template-columns:400px auto
    }
}

@media(max-width: 1084px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_copyright__QkPWd {
        font-size:.78rem
    }
}

@media(min-width: 1651px) {
    #layout_site-container___jKFI #layout_sidebar__AdR1X #layout_copyright__QkPWd {
        font-size:1.25rem
    }
}

#layout_site-container___jKFI #layout_sidebar__AdR1X .layout_plus__yjMcr {
    width: 35px;
    aspect-ratio: 1/1;
    position: absolute;
    right: -17.5px;
    z-index: 2
}

#layout_site-container___jKFI #layout_sidebar__AdR1X .layout_plus__yjMcr#layout_plus1__VeXO5 {
    top: 12vh
}

#layout_site-container___jKFI #layout_sidebar__AdR1X .layout_plus__yjMcr#layout_plus2__F3j2_ {
    bottom: 12vh
}

#layout_site-container___jKFI #layout_main__8SOZB {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: hidden;
    font-family: var(--font-chivo-mono)
}

#layout_site-container___jKFI #layout_main__8SOZB.layout_about-page-styles__TCmeJ {
    background-position: center bottom -5vw
}

@media(min-height: 801px) {
    #layout_site-container___jKFI #layout_main__8SOZB.layout_about-page-styles__TCmeJ {
        background-position:bottom
    }
}

@media(max-width: 1199px) {
    #layout_site-container___jKFI #layout_main__8SOZB.layout_about-page-styles__TCmeJ {
        background-position:center bottom -2vw
    }
}

@media(max-width: 999px) {
    #layout_site-container___jKFI #layout_main__8SOZB.layout_about-page-styles__TCmeJ {
        background-position:bottom
    }
}

@media(max-width: 699px) {
    #layout_site-container___jKFI #layout_main__8SOZB {
        height:100vh;
        height: 100svh;
        overflow: hidden
    }
}

#layout_scrollableElement__mXi0J {
    opacity: 1
}
